AUTH_SECRET= # `npx auth secret` or `openssl rand -hex 32`
AUTH_TRUST_HOST= # eg. http://localhost:3000
NEXT_PUBLIC_BASE_URL= # eg. http://localhost:3000
NEXT_PUBLIC_CAPTCHA_ENABLED= # true or false
NEXT_PUBLIC_CAPTCHA_PUBLIC_KEY= # eg. you can get it from Google Recaptcha
